[Unit]
Description=Autistic Easy Emotion Recognition Service
After=network.target

[Service]
User=emotion
WorkingDirectory=/home/emotion/autistic-easy
ExecStart=/usr/bin/python3 /home/emotion/autistic-easy/run.py
Restart=always
RestartSec=5
Environment=FLASK_ENV=prod
Environment=APP_PORT=5000

[Install]
WantedBy=multi-user.target
